.app {
  width: 100%;
  margin: 0 auto;
  @media (min-width: 600px) {
    max-width: 1200px;
  }
}

.mat-app-background {
  min-height: 100%;
}

.toolbar__header {
  @extend .app;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

mat-toolbar {
  margin-bottom: 2rem;
}
