/* You can add global styles to this file, and also import other style files */
@use "~@angular/material" as mat;
@use 'theme' as theme;
@use 'app/home/home.component' as home;

// always include only once per project
@include mat.core();

@mixin custom-components-theme($theme) {
  @include home.home-theme($theme);
}

// specify theme class eg: <body class="my-theme"> ... </body>
.app-theme {
  // use our theme with angular-material-theme mixin
  @include mat.all-component-themes(theme.$app-theme);
  @include custom-components-theme(theme.$app-theme);
}

.app-dark-theme {
  // use our theme with angular-material-theme mixin
  @include mat.all-component-themes(theme.$app-dark-theme);
  @include custom-components-theme(theme.$app-dark-theme);
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}
