@use '~@angular/material' as mat;

$app-theme-primary: mat.define-palette(mat.$indigo-palette);
$app-theme-accent: mat.define-palette(mat.$pink-palette);
$app-theme-warn: mat.define-palette(mat.$red-palette);

$app-theme: mat.define-light-theme(
  $app-theme-primary,
  $app-theme-accent,
  $app-theme-warn
);

$app-dark-theme: mat.define-dark-theme(
  mat.define-palette(mat.$blue-gray-palette),
  mat.define-palette(mat.$amber-palette),
  mat.define-palette(mat.$deep-orange-palette)
);
