<div class="home">
  <mat-form-field>
    <mat-label>Type JSON</mat-label>
    <textarea
      class="home__input"
      rows="20"
      [formControl]="jsonTextField"
      matInput
      >{{ jsonTextField.value }}</textarea
    >
  </mat-form-field>

  <mat-form-field>
    <mat-label>Proto Definition</mat-label>
    <textarea #output class="home__output" rows="20" readonly="true" matInput>{{
      outputField$ | async
    }}</textarea>

    <button mat-icon-button class="home__copyButton" (click)="onCopyClick()">
      <mat-icon>content_paste</mat-icon>
    </button>
  </mat-form-field>
</div>
