@use "sass:map";
@use "~@angular/material" as mat;

.home__input,
.home__output {
  resize: none;
  padding: 1rem;

  width: 95%;
}

.home__copyButton {
  position: absolute;
  top: 2rem;
  right: 1rem;
}

.home {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  padding: 1rem;

  @media (min-width: 600px) {
    flex-direction: row;
  }
}

mat-form-field {
  flex: 1;
}

@mixin home-color($config-or-theme) {
  // Extract the color configuration in case a theme has been passed.
  // This allows consumers to either pass a theme object or a color configuration.
  $config: mat.get-color-config($config-or-theme);
  $primary: map.get($config, primary);
  $accent: map.get($config, accent);
  $foreground: map.get($config, foreground);
  $background: map.get($config, background);

  .home {
    background-color: mat.get-color-from-palette($background);
  }

  .home__output {
    background-color: mat.get-color-from-palette($primary, 50);
    color: mat.get-color-from-palette($primary, '50-contrast');
  }

  .home__copyButton {
    background-color: mat.get-color-from-palette($primary);

    mat-icon {
      color: mat.get-contrast-color-from-palette($primary, 500);
    }
  }
}

@mixin home-theme($theme) {
  $color: mat.get-color-config($theme);
  $typography: mat.get-color-config($theme);

  @if $color != null {
    @include home-color($color);
  }
}
